{
  "plugins": [
    "babel-plugin-transform-inline-environment-variables",
    "babel-plugin-macros",
    "@babel/plugin-proposal-optional-chaining",

    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragmaFrag": "React.Fragment"
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ]
}
